.TodoInsert{
    display: flex;
    input {
        padding: 0.5rem;
        font-size: 1.25rem;
        flex: 1;
    }
    button {
        padding: 0.5rem;
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1.5rem;
        &:hover {
            background-color: #FCACD3;
        }
    }
}